.home{
    display: flex;
    height: calc(100vh - 60px);
    width: 100vw;
}

.main-menu{
    display: flex;
    flex-direction: column;
    height: inherit;
    border-right: 1px solid black;
    align-items: center;
    background-color: rgb(51, 50, 50);
    width: 150px;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    height: 45px;
}

.menu-item p{
    margin: 0;
    padding: 10px 10px 10px 10px;
    font-size: 1.5rem;
    color: #fff;
}

.highlight{
    background-color: rgb(42, 145, 145);
    border-radius: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: inherit;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

/* .content{
    flex-grow: 1;
} */

.uploading-button{
    right: 5%;
    bottom: 5%;
    position: fixed;
    z-index: 1;
    margin-bottom: 5px;
}
